<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Charity Tracker</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">

  <link rel="stylesheet" href="styles.css">


</head>
<body>

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="">Home</a>
      <a class="nav-item nav-link" href="donate">Donation Tracker</a>
      <a class="nav-item nav-link" href="charities">Top Charities</a>
      <a class="nav-item nav-link" href="contact">Contact</a>
    </div>
  </nav>


  <!-- HERO -->
  <div class="jumbotron text-center hero-background-img">
    <h1>Charity Tracker</h1>
    <p class="lead">Your go to Website all Things Charity</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>

  <!-- CALL TO ACTION -->
  <div class="jumbotron text-center mb-0">
    <p class="lead mb-4">Sign Up for More Infomation</p>
    <div class="d-flex justify-content-center">
      <form action="#" class='form-inline'>
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Email"/>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>
  </div>

  <div class="bg-secondary p-5 text-white">
    &copy; 2021 Charity Tracker Inc
  </div>

</body>
</html>